/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 Nov 2023, 4:55:29 pm
    Author     : yasmi
*/

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
    background-image: url(b1.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
}




nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 40px;
}

img {
    max-width: 100%;
    height: auto;
  
}



.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image {
    flex: 1;
    margin-right: 20px; 
    width: 100%;
    flex-wrap: wrap;
    
}

.about-text {
    flex: 2;
    padding: 80px 0;
    font-size: 30px;
    font-weight: 50;
    color: black;
}



.project-card {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    transition: transform 0.3s;
    background-color: lightsteelblue;
}

.project-card:hover {
    transform: scale(1.05);
}
.img{
    position: right;
    
    
}

.contact {
  margin-top: 2rem;
   text-align: center;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 5rem;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
   text-align: center;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
   text-align: center;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
   text-align: center;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
   text-align: center;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
   text-align: center;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: lightcyan;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}




